@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.lato {
  font-family: "Lato";
  font-weight: 400;
  font-style: normal;
}

.content {
  padding-bottom: 70px !important;
}

.navbar {
  background-color: #009FBD !important;
}

.bg-light{
  background-color: #D8EFD3 !important;
}

.register-page {
  height: 100vh !important;
}

.ant-form-item-label label,
.register-form {
  font-family: "Lato";
  font-weight: 300;
  font-style: normal;
}

.register-heading {
  font-family: "Lato";
  font-weight: 400;
  font-style: normal;
}

.register-img {
  height: 250px;
  width: 470px;
}

.ant-modal-content .ant-modal {
  font-family: "Lato";
  font-weight: 400;
  font-style: normal;
}

.ant-table table {
  font-family: "Lato";
  font-weight: 300;
}

.ant-table .ant-table-content .ant-table-cell { 
  background-color: #009dbd8c; 
}

.ant-select-selector {
  background-color: transparent !important;
}

.card-body{
  background-color: #009dbd8c !important;
}

.card-header{
  background-color: #009dbdb3 !important;
}

.tabs{
  color: black;
}

/*transaction page*/
.filters {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
  border-color: #009dbdb3 !important; 
  /* box-shadow: 0 0 15px cornflowerblue; */
}

.anticons svg {
  font-size: 20px;
  cursor: pointer;
}

.active-icon {
  color: black;
}

.inactive-icon {
  color: gray;
}

.icon-div {
  padding: 5px 13px;
}

.pie-header {
  cursor: pointer;
  margin-right: 0.05rem;
}

.black-text{
  color: black;
}


@media screen and (max-width: 600px){
  .responsive-flex{
     flex-direction: column;
  }
}

@media screen and (max-width: 900px){
  .responsive-flex-charts{
     flex-direction: column;
  }
}

.card{
  min-width: 270px;
}
